body {
  margin: 0px;
}

canvas {
  background-image: url("https://w0.peakpx.com/wallpaper/741/117/HD-wallpaper-video-game-minecraft-nether-minecraft.jpg");
  background-size: cover;
}


img {
  display: none;
}
